<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>

        <div>
            <h1>Welcome!</h1>
            <p>
                Welcome to this application! Click the button
                below to get started with the customer
                satisfaction analysis.
            </p>
        </div>

        <div>
            <a href="/analysis/loading">
                <button class="start-btn">Begin Analysis</button>
            </a>
        </div>
    </body>
</html>