<!DOCTYPE html>
<html>
    <head>
        <title>Analyzing...</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="loader"></div>
        <div>
            <p class="loader-txt">
                We are collecting and analyzing data from all airlines. Please wait, this may take several minutes...
            </p>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <script> window.location.replace('results');</script>
    </body>
</html>
